<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dog-CEO_Challenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22A5FBBF2774ADEA00FA3779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A5FBD52774ADEC00FA3779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A5FBE02774ADEC00FA3779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
